* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* CSS for nav bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px 0px 20px 0px;

}

#active {
    background-color: rgb(123, 209, 255);
}

.menu a:hover {
    background-color: blanchedalmond;
}


/* CSS for list  */


.list-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    
}

.item{
    display: flex;
    padding: 30px;
    width: 500px;
    transition: transform 0.3s ease;
    
}

.item:hover {
    background-image: linear-gradient(rgba(150, 246, 255, 0.7), rgba(255, 55, 112, 0.7));
    border-radius: 50px 0px 50px 0px;
    transform: scale(1.1); 
    
}


.item img{
   
  max-width: 100px;
  max-height: 200px;
    object-fit: cover;
    margin-right: 10px;
}

.item p{
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
}

#post-date{
    opacity: 0.5;
}

/* css for footer */

footer{
    background-color: #252525;
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}

.icon{
    display: flex;
    justify-content: center;
}

.icon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    
    margin-left: 10px;
    margin-right: 10px;
}

.icon a i{
font-size: 2em;
color: black;
opacity: 0.9;

}

.icon a:hover{
    background-color: #252525;
    transition: 0.5s;
}

.icon a:hover i{
    color: white;
    transition: 0.5s;
}

.icon a img{
    height: 30px;
    width: 30px;
    
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.5;
    transition: 0.7s;
}


.footerNav ul li{
    
    list-style: none;
}

.footerNav ul li a:hover{
opacity: 1;
}

.footerButtom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerButtom p{
    color: white;

}